@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Viga&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
$background: rgb(248, 248, 245);
:root {
  font-size: 62.5%;
  body {
    font-family: 'Viga', sans-serif;
    font-size: 1.6rem;
    background-color: $background;
  }
}
main {
  display: grid;
  width: 100%;
}

nav {
  width: 100%;
  margin: auto;
  text-align: center;
  margin: 1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  a {
    color: #000000;
    text-decoration: none;
    padding-left: 1rem;
    text-align: center;
    width: 10rem;
  }
}
.first-view {
  display: grid;
  grid-template-rows: 10vh;
  align-items: center;
}
.header {
  grid-column: 1/2;
  grid-row: 2/2;
  width: 50rem;
  justify-self: center;

  h1 {
    font-size: 4.8rem;
    text-transform: uppercase;
  }
  @media (max-width: 1048px) {
    grid-column: 1/3;
    width: auto;
  }
}
.first-img {
  grid-column: 2/2;
  grid-row: 2/2;
  margin: auto;
  img {
    width: 45rem;
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 1024px) {
    grid-row: 3/3;
    width: 30rem;
  }
}
.title {
  width: 342px;
  height: 4rem;
  font-size: 1.8rem;
  line-height: 24px;
  margin: auto;
}
.text {
  margin: auto;
  width: 33rem;
  line-height: 2rem;
  font-size: 1.4rem;
  font-weight: 300;
  font-family: 'Open-Sans', sans-serif;
}
