@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Viga&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
$background: rgb(248, 248, 245);
:root {
  font-size: 62.5%;
  overflow-x: hidden;

  body {
    font-family: 'Viga', sans-serif;
    font-size: 1.6rem;
    background-color: $background;
    height: 100%;
    width: 100%;
  }
}
main {
  display: grid;
  width: 100vw;
  height: 100vh;
}

nav {
  width: 100%;
  margin: auto;
  text-align: center;
  margin: 1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  a {
    color: #000000;
    text-decoration: none;
    padding-left: 1rem;
    text-align: center;
    width: 10rem;
  }
}
/* First View */
.first-view {
  display: grid;
  align-items: center;
  grid-template-rows: 100vh;
  margin-bottom: 5rem;
}
.header {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  width: 50rem;

  h1 {
    font-size: 4.8rem;
    text-transform: uppercase;
  }
  @media (max-width: 468px) {
    grid-column: 2/3;
    width: auto;
  }
  @media (max-width: 1048px) {
    width: auto;
  }
}
.first-img {
  grid-column: 2/2;
  margin: auto;

  img {
    width: 50rem;
    margin: auto;
  }
  @media (max-width: 468px) {
    grid-row: 2/2;
  }
}
.title {
  width: 35rem;
  height: 4rem;
  font-size: 1.8rem;
  line-height: 24px;
  margin: auto;
}
.text {
  margin: auto;
  width: 33rem;
  line-height: 2rem;
  font-size: 1.4rem;
  font-weight: 300;
  font-family: 'Open-Sans', sans-serif;
  @media (max-width: 468px) {
    width: 40rem;
  }
}
/* Second View  */
.second-view {
  display: grid;
  margin: 1rem;
}
.second-left {
  grid-row: 2/2;
  grid-column: 1/2;
  margin: auto;

  img {
    width: 30rem;
    margin: auto;
    padding: 3rem 0 3rem 0;
  }
  ul {
    width: 40rem;
    font-family: 'Open sans', sans-serif;
    font-size: 1.4rem;
    line-height: 2.5rem;
    list-style: square;
  }
  li {
    height: 10rem;
  }
  .source {
    font-size: 1.6rem;
    font-family: 'Open sans', sans-serif;
  }
  @media (max-width: 468px) {
    grid-row: 1/2;
    grid-column: 2/2;
  }
}
.second-right {
  grid-row: 2/2;
  grid-column: 2/2;
  width: 45rem;
  margin: auto;
  img {
    width: 40rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .text {
    width: 45rem;
    line-height: 2.5rem;
    white-space: pre-line;
    height: 100%;
  }
  @media (max-width: 468px) {
  }
}
.header-second {
  margin: 4rem;

  h2 {
    font-size: 3.2rem;
  }
}
.title-second {
  font-size: 2rem;
  height: 5rem;
  margin: 0;
}
