@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Viga&display=swap');
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 0;
  color: var(--pink);
}

:root {
  --background: #f0eee8;
  --primary: #000000;
  --yellow: #f1d02c;
  --pink: #e88fa3;
  --green: #40a857;
  --red: #eb483d;
}

html {
  font-size: 62.5%;
}
body {
  font-family: 'Helvetica', sans-serif;
  background-color: var(--background);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  font-size: 1.6rem;
}

main {
  width: 100vw;
  height: 100vh;
}
nav {
  width: 90%;
  height: 7rem;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  color: #000000;
  text-decoration: none;
}
nav img {
  height: 4.5rem;
}
/* First View */
.first-view {
  margin: 1rem;
  height: 60%;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 55%;
  z-index: 1;
  position: absolute;
}
h1 {
  font-size: 7.8rem;
  text-transform: uppercase;
  white-space: pre-wrap;
  font-weight: 900;
}
.shapes {
  display: grid;
  grid-column: 1/4;
  grid-row: 1;
  z-index: 0;
  position: relative;
  height: 70%;
}
.rectangle {
  grid-column: 1/4;
  grid-row: 1;
  margin-left: 1rem;
  width: 10rem;
  height: 6rem;
  background: var(--yellow);
}
.triangel {
  grid-column: 2/4;
  grid-row: 1/2;
  width: 0;
  height: 0;
  border-left: 7rem solid transparent;
  border-right: 7rem solid transparent;
  border-bottom: 12rem solid var(--green);
  position: absolute;
}
.circle {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background: var(--pink);
  bottom: 1rem;
  grid-row: 4/4;
}
.sqaure {
  width: 10rem;
  height: 10rem;
  background: var(--red);
  grid-row: 4/4;
  grid-column: 4/4;
}
.app-description p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.2rem;
}
.border {
  height: 1rem;
  width: 8rem;
  margin-bottom: 1rem;
}
/* second view */

.second-view,
.third-view,
.fourth-view {
  padding-top: 2rem;
  margin: 1rem;
}

.description p {
  font-weight: 300;
  line-height: 3rem;
  white-space: break-spaces;
}
.callout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 900;
  height: auto;
  margin: 0 auto;
  border: 0.3rem solid;
  margin-bottom: 3rem;
  padding: 0.5rem;
}

.highlight {
  background-color: #000320;
  height: auto;
  padding: 1rem;
  color: #fff;
  line-height: 1.5rem;
  font-weight: 300;
}
.star-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.star {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  margin: 0 1rem 2rem 1.5rem;
}

.star:before,
.star:after {
  content: '';
  position: absolute;
  background-color: var(--yellow);
  display: block;
  left: 0;
  width: 141.4213%;
  top: 0;
  bottom: 0;
  border-radius: 5%;
  transform: rotate(66.66deg) skewX(45deg);
}
.star:after {
  transform: rotate(156.66deg) skew(45deg);
}
/* poll */
.poll {
  width: 100%;
}
.poll p {
  font-weight: 700;
}
.poll li {
  padding: 0.5rem;
  margin-bottom: 1rem;
  list-style: none;
  border: 0.2rem solid var(--primary);
  border-radius: 3rem;
  line-height: 1rem;
}
.poll li button {
  padding: 0.3rem;
  width: 100%;
  border: none;
  background-color: transparent;
  margin: 0 auto;
  font-weight: 700;
  font-size: 1.6rem;
}
.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.progress-bar span {
  padding: 0.4rem 0.4rem;
}
progress {
  height: 3.5rem;
  width: 100%;
  border-radius: 3rem;
  border: 1px solid var(--primary);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
}
progress::-webkit-progress-bar {
  background-color: var(--background);
  border-radius: 3rem;
}
progress::-moz-progress-bar {
  background-color: var(--background);
  border-radius: 3rem;
}
progress::-webkit-progress-value {
  background-color: var(--green);
  border-radius: 3rem;
  -webkit-transition: all 0.5;
  transition: all 0.5;
}
progress::-moz-progress-bar {
  background-color: var(--green) !important;
  border-radius: 3rem;
}

footer {
  font-family: 'Futura';
  display: flex;
  flex-direction: 'row';
  height: 3rem;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
footer p {
  padding-right: 0.2rem;
  font-weight: 700;
  font-size: 1.5rem;
}

/* Desktop styles */

@media screen and (min-width: 34rem) {
  main {
    width: 90%;
    margin: 0 auto;
  }
  .first-view {
    width: 90%;
    display: grid;
    margin: 0 auto;
    padding-top: 4rem;
    height: 90%;
  }

  .header {
    width: 50rem;
    position: relative;
  }
  h1 {
    font-size: 12rem;
  }
  .app-description p {
    line-height: 3.2rem;
  }
  .shapes {
    display: grid;
    grid-column: 4/4;
    height: 55rem;
    width: 60rem;
  }
  .rectangle {
    grid-column: 1/4;
    grid-row: 1;
    height: 15rem;
    width: 30rem;
  }
  .triangel {
    grid-column: 2/4;
    grid-row: 1/2;
    border-left: 15rem solid transparent;
    border-right: 15rem solid transparent;
    border-bottom: 28rem solid var(--green);
  }
  .circle {
    width: 26rem;
    height: 26rem;
    position: relative;
    grid-row: 4/4;
  }
  .sqaure {
    width: 23rem;
    height: 23rem;
    grid-row: 4/4;
  }
  .description {
    display: grid;
  }
  .description p {
    display: flex;
    grid-column: 1/2;
    grid-row: 1;
  }
  .description img {
    grid-column: 2/2;
    grid-row: 1;
  }
  h3 {
    text-align: center;
  }
  .poll {
    width: 35rem;
    margin: 0 auto;
  }
  .callout {
    padding: 1rem;
    width: 50%;
  }
  h4 {
    font-size: 2rem;
  }
  .highlight {
    width: 80%;
    height: auto;
    padding: 4rem;
    margin: 0 auto;
  }

  .highlight p {
    width: 100%;
    line-height: 2.8rem;
  }
}
